:root {
  /* Цвет текста */
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --title-text-color: #ffffff;
  --logo-primary: #000000;
  --footer-adress-color: rgba(255, 255, 255, 0.6);

  /* Цвет фона*/
  --bgd-dark: #2f303a;
  --bgd-main: #ffffff;
  --bgd-secondary: #f5f4fa;
  --bgd-border: #eeeeee;
  --bgd-top-border: #ececec;

  /* Шрифти */
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
}

body {
  font-family: var(--main-font);
  color: var(--primary-text-color);
  background-color: var(--bgd-main);
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.btn {
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Header */

.header {
  border-bottom: 1px solid var(--bgd-top-border);
}

.header > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: var(--secondary-font);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.nav > .logo {
  margin-right: 93px;
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
}

.nav {
  display: flex;
  align-items: center;
}

.logo-primary {
  color: var(--logo-primary);
}

.nav-link.current {
  color: var(--accent-color);
}

.nav-list {
  color: var(--secondary-text-color);
}

.nav-list,
.contacts-list {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  display: flex;
  align-items: center;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:focus,
.contacts-link:hover,
.adress-link:focus,
.adress-link:hover {
  color: var(--accent-color);
}

.nav-item:not(:last-child),
.contacts-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts-item > .contacts-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

/* Main */

.hero {
  padding-bottom: 200px;
  padding-top: 200px;
  text-align: center;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/bgi-main.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--title-text-color);

  width: 604px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.main-btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.86;
  letter-spacing: 0.06em;
  font-family: inherit;
  cursor: pointer;
  color: var(--title-text-color);
  background-color: var(--accent-color);

  display: inline-block;
  min-width: 73px;
  padding: 8px 30px;
  border: 1px solid var(--accent-color);
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.special-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);

  margin-bottom: 10px;
}

.special-descr {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.special-list,
.examples-list,
.team-list {
  display: flex;
}

.special-item {
  flex-basis: calc((100% - 90px) / 4);
}

.special-item:not(:last-child),
.examples-item:not(:last-child),
.team-item:not(:last-child) {
  margin-right: 30px;
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);

  margin-bottom: 50px;
  text-align: center;
}

.examples {
  padding-top: 0px;
}

.team {
  background-color: var(--bgd-secondary);
}

.team-item {
  text-align: center;
}

.team-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);

  margin-bottom: 10px;
}

.team-descr {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-border {
  padding-bottom: 30px;
  padding-top: 30px;
  background-color: var(--bgd-main);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.social-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;

  outline: 1px solid black;
}

.social-item {
  height: 44px;
  width: 44px;
}

.social-link {
  display: inline-block;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  height: 44px;
  width: 44px;
}

.social-icon {
  display: block;
  height: 44px;
  width: 44px;
  fill: red;
}

/* Footer */

.footer,
.hero {
  background-color: var(--bgd-dark);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.container > .logo {
  display: block;
  margin-bottom: 20px;
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.adress-link,
.address-item {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--footer-adress-color);
}

.adress-link,
.logo-secondary {
  color: var(--title-text-color);
}

.address-list {
  display: block;
}

/* Portfolio */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portgolio-btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  background-color: var(--bgd-secondary);
  border: 1px solid var(--bgd-secondary);
  font-family: inherit;
  cursor: pointer;

  min-width: auto;
  padding: 6px 22px;
}

.portgolio-btn:focus,
.portgolio-btn:hover {
  color: var(--title-text-color);
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.portfolio-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-item:not(:last-child) {
  margin-right: 8px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
}

.catalog-border {
  padding-left: 20px;
  padding-top: 24px;
  padding-bottom: 24px;
  border-right: 1px solid var(--bgd-border);
  border-bottom: 1px solid var(--bgd-border);
  border-left: 1px solid var(--bgd-border);
}

.catalog-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.catalog-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.catalog-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);

  margin-bottom: 4px;
}

.catalog-descr {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
